* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100%;
  font-size: 20px;
  background: black url('1580651501864435-0.png') ;
  background-size: cover;
  
}
header {
  width: 90%;
  color: white;
  margin: auto;
  
 & > p{
  margin: 0 15px;
}
}
form {
  -webkit-text-stroke: 0.3px black;
  filter: grayscale(80%);
  background: #1e1e1eed;
  width: 90vw;
  height: 100%;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  color: white;
 position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%); 
}
div {
  
  margin: 0 0 50px ;
  /* flex-direction: ; */

}
div > p,div > input{
  margin:20PX;
}
textarea{
  padding: 5px;
  width: 90%;
  font-size: 18px;
}


input[type="text"]{
  padding: 10px;
  font-size: 16px;
}
.anime > input[type="radio"]{
  
  align-items: center;
}
 .anime > label {
   
 }
 .anime > #outros{
   
   width: 70%;
   height: 20px;
 }
.prota {
  
}
.prota > input {
  
}
.prota > label {
  
}
select{
  font-size: 22px;
  width: 50%;
  height: 40px;
  
}



h1,h3,h4 {
  padding: 0 0 10px 0;
  font-family: serif;
  text-align: center;
  text-transform: uppercase;
}


input[type="submit"]{
  
  
  width: 30vw;
  min-height: 40px;
  font-size: 30px;

}

.center{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

