* {
  margin: 0;
  padding: 0;
}
body {
  background: #030404c2;
  text-align: center;
  width: 100vw;
}

header {
  text-align: center;
  background: url("imagens/fundo.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 600px;
  & > div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & div {
    background: #00000000;
  }
  & div > a {
    display: inline-block;
    background: #222020cc;
    color: white;
    box-shadow: 1px 1px 0px white;
    margin: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
  }
  & a:hover {
    background: #ffffffcb;
    color: black;
    box-shadow: 1px 1px 0px #000000;
  }
}
/* header > { 
}   */
img {
  width: 100%;
}
div {
  background: white;
}
div.img {
  margin: 20px;
}
.img > h2,
p {
  padding: 20px;
}

footer {
  background: black;
  color: white;
}
footer > p > a {
  text-decoration: none;
  color: #3e3ee4;
}

@media screen and (min-width:720px){
  
}




