*{
    margin: 0%;
    padding: 0%;
}
body,html{
    background: rgb(0,0,0);
    min-height: 100vh;
}
article{
    background: rgb(234, 232, 232);
    margin: auto;
  
   
}
aside{
    /* position: relative;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%); */
    
     padding: 10px;
    
    background: white;
    border-radius: 10px;
}

aside#fernado-pessoa{
  padding: 0;
    background: url("imagens/pexels-jay-pizzle-3802510.jpg") no-repeat;
    background-size: contain;
    /* background-position: center center; */
    background-attachment: fixed;
    
}
#fernado-pessoa p{
  padding: 10px;
  color: white;
  background-color: #0000005d;
       text-shadow: 1px 2px 3px black;
}
aside#Vinicius{
  background: url('pexels-aleksandar-pasaric-2603464.jpg') no-repeat;
  background-size: cover;
}


